Host *
StrictHostKeyChecking no
UserKnownHostsFile=/dev/null
PasswordAuthentication no
UseRoaming no

Host db*
  IdentityFile .vagrant/machines/db/virtualbox/private_key

Host app1*
  IdentityFile .vagrant/machines/app1/virtualbox/private_key

Host app2*
  IdentityFile .vagrant/machines/app2/virtualbox/private_key

Host proxy*
  IdentityFile .vagrant/machines/proxy/virtualbox/private_key
